---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedro Xavier - Desenvolvedor Front-End</title>
  </head>

  <body class="bg-gradient-to-b from-green-900 to-black text-white">
    <section>
      <h1>PEDRO XAVIER</h1>
      <h3>Desenvolvedor Front-end</h3>
      <p>Crio interfaces iterativas e atrativas para experiências web.</p>
    </section>
  </body>
</html>
